@import url("nat_banner.css");
@import url("nat_navigation.css");
@import url("nat_main.css");

body
{
    background: rgb(44, 44, 44) url("../images/nat_body_backgroundImage.jpg") top center no-repeat;
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 12px;
}



 




