.nat_main__imageCarousel
{
    width: 686px;
    height: 440px;
    margin: 0px;
    padding: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(204, 205, 205);
    position: absolute;
    left: 20px;
    top: 20px;
}
