.nat_main__ads
{
    width: 274px;
    height: 440px;
    margin: 0px;
    padding: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(204, 205, 205);
    position: absolute;
    left: 706px;
    top: 20px;
}

    .nat_main__ad
    {
        width: 274px;
        height: 200px;
        padding: 0px;
        margin: 0px 0px 20px 0px;
        border: none;
    }