@import url("nat_main__imageCarousel.css");
@import url("nat_main__ads.css");
@import url("nat_main__browseCategories.css");
@import url("nat_main__recentArticles.css");
@import url("nat_main__popularVideos.css");
@import url("nat_main__newsletter.css");
@import url("nat_main__currentContests.css");
@import url("nat_main__tweets.css");

.nat_main
{
    width: 1000px;
    height: 1320px;
    padding: 0px;
    margin: 0px auto;
    border: none;
    background: rgb(255, 255, 255);
    position: relative;
    font-size: 12px;
}